<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.phry.dao.EducationDao">

	<select id="get" resultType="com.bootdo.phry.domain.EducationDO">
		select `education_id`,`user_id`,`edu_category`,`education_code_id`,`edu_code`,`edu_name`,`edu_year`,`degree_code`,`degree_name`,`school_name`,`subject_category`,`subject_name`,`entrance_time`,`graduation_time`,`award_time`,`graduation_file_id`,`award_file_id`,`create_time`,`update_time`,`status`,`height_edu` from ph_education where education_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.phry.domain.EducationDO">
		select `education_id`,`user_id`,`edu_category`,`edu_code`,`edu_name`,`edu_year`,`degree_code`,`degree_name`,`school_name`,`subject_category`,`subject_name`,`entrance_time`,`graduation_time`,`award_time`,`graduation_file_id`,`award_file_id`,`create_time`,`update_time`,`status`,`height_edu` from ph_education
        <where>  
		  		  <if test="educationId != null and educationId != ''"> and education_id = #{educationId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="eduCategory != null and eduCategory != ''"> and edu_category = #{eduCategory} </if>
		  		  <if test="eduCode != null and eduCode != ''"> and edu_code = #{eduCode} </if>
		  		  <if test="eduName != null and eduName != ''"> and edu_name = #{eduName} </if>
		  		  <if test="eduYear != null and eduYear != ''"> and edu_year = #{eduYear} </if>
		  		  <if test="degreeCode != null and degreeCode != ''"> and degree_code = #{degreeCode} </if>
		  		  <if test="degreeName != null and degreeName != ''"> and degree_name = #{degreeName} </if>
		  		  <if test="schoolName != null and schoolName != ''"> and school_name = #{schoolName} </if>
		  		  <if test="subjectCategory != null and subjectCategory != ''"> and subject_category = #{subjectCategory} </if>
		  		  <if test="subjectName != null and subjectName != ''"> and subject_name = #{subjectName} </if>
		  		  <if test="entranceTime != null and entranceTime != ''"> and entrance_time = #{entranceTime} </if>
		  		  <if test="graduationTime != null and graduationTime != ''"> and graduation_time = #{graduationTime} </if>
		  		  <if test="awardTime != null and awardTime != ''"> and award_time = #{awardTime} </if>
		  		  <if test="graduationFileId != null and graduationFileId != ''"> and graduation_file_id = #{graduationFileId} </if>
		  		  <if test="awardFileId != null and awardFileId != ''"> and award_file_id = #{awardFileId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by education_id asc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ph_education
		 <where>  
		  		  <if test="educationId != null and educationId != ''"> and education_id = #{educationId} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="eduCategory != null and eduCategory != ''"> and edu_category = #{eduCategory} </if>
		  		  <if test="eduCode != null and eduCode != ''"> and edu_code = #{eduCode} </if>
		  		  <if test="eduName != null and eduName != ''"> and edu_name = #{eduName} </if>
		  		  <if test="eduYear != null and eduYear != ''"> and edu_year = #{eduYear} </if>
		  		  <if test="degreeCode != null and degreeCode != ''"> and degree_code = #{degreeCode} </if>
		  		  <if test="degreeName != null and degreeName != ''"> and degree_name = #{degreeName} </if>
		  		  <if test="schoolName != null and schoolName != ''"> and school_name = #{schoolName} </if>
		  		  <if test="subjectCategory != null and subjectCategory != ''"> and subject_category = #{subjectCategory} </if>
		  		  <if test="subjectName != null and subjectName != ''"> and subject_name = #{subjectName} </if>
		  		  <if test="entranceTime != null and entranceTime != ''"> and entrance_time = #{entranceTime} </if>
		  		  <if test="graduationTime != null and graduationTime != ''"> and graduation_time = #{graduationTime} </if>
		  		  <if test="awardTime != null and awardTime != ''"> and award_time = #{awardTime} </if>
		  		  <if test="graduationFileId != null and graduationFileId != ''"> and graduation_file_id = #{graduationFileId} </if>
		  		  <if test="awardFileId != null and awardFileId != ''"> and award_file_id = #{awardFileId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.phry.domain.EducationDO">
		insert into ph_education
		(
			`user_id`, 
			`edu_category`,
			`education_code_id`,
			`edu_code`, 
			`edu_name`, 
			`edu_year`, 
			`degree_code`, 
			`degree_name`, 
			`school_name`, 
			`subject_category`, 
			`subject_name`, 
			`entrance_time`, 
			`graduation_time`, 
			`award_time`, 
			`graduation_file_id`, 
			`award_file_id`, 
			`create_time`, 
			`update_time`, 
			`status`
		)
		values
		(
			#{userId}, 
			#{eduCategory},
			#{educationCodeId},
			#{eduCode}, 
			#{eduName}, 
			#{eduYear}, 
			#{degreeCode}, 
			#{degreeName}, 
			#{schoolName}, 
			#{subjectCategory}, 
			#{subjectName}, 
			#{entranceTime}, 
			#{graduationTime}, 
			#{awardTime}, 
			#{graduationFileId}, 
			#{awardFileId}, 
			#{createTime}, 
			#{updateTime}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.phry.domain.EducationDO">
		update ph_education 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="eduCategory != null">`edu_category` = #{eduCategory}, </if>
			<if test="educationCodeId != null">`education_code_id` = #{educationCodeId}, </if>
			<if test="eduCode != null">`edu_code` = #{eduCode}, </if>
			<if test="eduName != null">`edu_name` = #{eduName}, </if>
			<if test="eduYear != null">`edu_year` = #{eduYear}, </if>
			<if test="degreeCode != null">`degree_code` = #{degreeCode}, </if>
			<if test="degreeName != null">`degree_name` = #{degreeName}, </if>
			<if test="schoolName != null">`school_name` = #{schoolName}, </if>
			<if test="subjectCategory != null">`subject_category` = #{subjectCategory}, </if>
			<if test="subjectName != null">`subject_name` = #{subjectName}, </if>
			<if test="entranceTime != null">`entrance_time` = #{entranceTime}, </if>
			<if test="graduationTime != null">`graduation_time` = #{graduationTime}, </if>
			<if test="awardTime != null">`award_time` = #{awardTime}, </if>
			<if test="graduationFileId != null">`graduation_file_id` = #{graduationFileId}, </if>
			<if test="awardFileId != null">`award_file_id` = #{awardFileId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="status != null">`status` = #{status},</if>
			<if test="heightEdu != null">`height_edu` = #{heightEdu}</if>
		</set>
		where education_id = #{educationId}
	</update>
	
	<delete id="remove">
		delete from ph_education where education_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ph_education where education_id in 
		<foreach item="educationId" collection="array" open="(" separator="," close=")">
			#{educationId}
		</foreach>
	</delete>

</mapper>