<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.phry.dao.LeaveDao">

	<select id="get" resultType="com.bootdo.phry.domain.LeaveDO">
		select `id`,`pact_id`,`name`,`department`,`post`,`leave_time`,`end_time`,`leave_date`,`leave_reason` from ph_leave where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.phry.domain.LeaveDO">
		select `id`,`pact_id`,`name`,`department`,`post`,`leave_time`,`end_time`,`leave_date`,`leave_reason` from ph_leave
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="pactId != null and pactId != ''"> and pact_id = #{pactId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="department != null and department != ''"> and department = #{department} </if>
		  		  <if test="post != null and post != ''"> and post = #{post} </if>
		  		  <if test="leaveTime != null and leaveTime != ''"> and leave_time = #{leaveTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
		  		  <if test="leaveDate != null and leaveDate != ''"> and leave_date = #{leaveDate} </if>
		  		  <if test="leaveReason != null and leaveReason != ''"> and leave_reason = #{leaveReason} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ph_leave
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="pactId != null and pactId != ''"> and pact_id = #{pactId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="department != null and department != ''"> and department = #{department} </if>
		  		  <if test="post != null and post != ''"> and post = #{post} </if>
		  		  <if test="leaveTime != null and leaveTime != ''"> and leave_time = #{leaveTime} </if>
		  		  <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
		  		  <if test="leaveDate != null and leaveDate != ''"> and leave_date = #{leaveDate} </if>
		  		  <if test="leaveReason != null and leaveReason != ''"> and leave_reason = #{leaveReason} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.phry.domain.LeaveDO" useGeneratedKeys="true" keyProperty="id">
		insert into ph_leave
		(
			`pact_id`, 
			`name`, 
			`department`, 
			`post`, 
			`leave_time`, 
			`end_time`, 
			`leave_date`, 
			`leave_reason`
		)
		values
		(
			#{pactId}, 
			#{name}, 
			#{department}, 
			#{post}, 
			#{leaveTime}, 
			#{endTime}, 
			#{leaveDate}, 
			#{leaveReason}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.phry.domain.LeaveDO">
		update ph_leave 
		<set>
			<if test="pactId != null">`pact_id` = #{pactId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="department != null">`department` = #{department}, </if>
			<if test="post != null">`post` = #{post}, </if>
			<if test="leaveTime != null">`leave_time` = #{leaveTime}, </if>
			<if test="endTime != null">`end_time` = #{endTime}, </if>
			<if test="leaveDate != null">`leave_date` = #{leaveDate}, </if>
			<if test="leaveReason != null">`leave_reason` = #{leaveReason}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ph_leave where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ph_leave where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>