<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>诚益通综合管理系统</title>
    <link rel="stylesheet" href="${rc.contextPath}/statics/weixin/css/mdui.css" />
    <link rel="stylesheet" href="${rc.contextPath}/statics/weixin/css/app.css" />
    <link rel="stylesheet" href="${rc.contextPath}/statics/weixin/css/dialog.css" />
</head>
<body>
<!--侧边菜单栏 -->
<div id="rightSide" ></div>
<content>
    <div class="con_list">
        <div class="con_top">其他出库单</div>
        <div class="info_list">
            <div class="list-form">
                <input type="hidden" id="qtstoreoutId" value="${id}" >
                <div class="list-form-row">
                    <p class="list-form-addon">其他出库单号：<span>${info.orderNo}</span></p>
                    <p class="list-form-addon">出库人：<span>${info.userName}</span></p>
                    <p class="list-form-addon">出库时间：<span>${info.outTimeStr}</span></p>
                    <p class="list-form-addon">盘点单号：<span>${info.stockingOrder}</span></p>
                    <p class="list-form-addon">出库仓库名称：<span>${info.storeTypeName}</span></p>
                    <p class="list-form-addon">出库类型：<span>${info.type}</span></p>
                    <p class="list-form-addon">创建人：<span>${info.creatUserName}</span></p>
                    <p class="list-form-addon">创建时间：<span>${info.creatTimeStr}</span></p>
                    <p class="list-form-addon">备注：${info.remark}</p>
                </div>
                <h3 style="border-bottom: 1px #CCCCCC;padding: 0.5rem 1rem;">其他出库单详情</h3>
                <div id="qtstoreoutDetailDiv">
                </div>
            </div>
        </div>
    </div>
</content>
<script type="text/javascript" src="${rc.contextPath}/statics/libs/jquery.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/weixin/js/mDialogMin.js"></script>
<script>
    var qtstoreoutId = $("#qtstoreoutId").val();
    $(function(){
        //侧边栏
        $("#rightSide").load("${rc.contextPath}/weixin/rightSide");
        $.ajax({
            url:"${rc.contextPath}/weixin/qtstoreout/info",
            data:{qtstoreoutId : qtstoreoutId},
            success:function(r){
                var data = eval("("+r+")");
                if(data.code == 0){
                    var details = data.qtStoreOutDetailList;
                    $("#qtstoreoutDetailDiv").empty();
                    if(null != details && '' != details){
                        for(var i=0; i<details.length; i++){
                            var detail = details[i];
                            $("#qtstoreoutDetailDiv").append(
                                '<div class="list-form-top">'+
                                '<p class="list-form-addon">编码：<span>'+detail.code+'</span></p>'+
                                '<p class="list-form-addon">名称：<span>'+detail.name+'</span></p>'+
                                '<p class="list-form-addon">单位：<span>'+detail.unit+'</span></p>'+
                                '<p class="list-form-addon">数量：<span>'+detail.sum+'</span></p>'+
                                '<p class="list-form-addon">备注：<span>'+detail.remark+'</span></p>'+
                                '</div>'
                            )
                        }
                    }else{
                        $("#qtstoreoutDetailDiv").append('<div class="js-load-more">暂无数据。</div>');
                    }
                }
            }
        })
    })
    //刷新本页面
    function reload(){
        location.href='${rc.contextPath}/weixin/detailhtml?id='+qtstoreoutId+'&str=qtstoreout';
    }
    //ajax加载列表数据
    function reloadlist(){
        $.ajax({
            url:"${rc.contextPath}/weixin/list",
            data:{
                page : 1,
                limit : 10,
                str : "qtstoreout"
            },
            success:function(r){
                var data = eval("("+r+")");
                if(data.code == 0){
                    var infos = data.page.list;
                    var haveData = '';
                    if(data.if_have_data == 0){
                        haveData = '<div class="js-load-more" id="loadMore" onclick="loadMore()">点击加载更多</div>';
                    }else if(data.if_have_data == 1){
                        haveData = '<div class="js-load-nomore" id="haveLoadMore">数据已完全加载</div>';
                    }
                    if(infos == null || infos == ''){
                        haveData = '<div class="js-load-more" id="noMore" >暂无数据</div>';
                        $("#dataDiv").after(
                            haveData
                        )
                    }else{
                        for(var i=0;i<infos.length;i++){
                        	var info = infos[i];
                            var type = '';
                            var outTime =info.outTime.substring(0,10);
                            if(info.type == '1'){
                            	type = '<span class="green">原材料盘点</span>';
                            }else if(info.type == '2'){
                            	type = '<span class="green">产品盘点</span>';
                            }else{
                            	type = '<span class="red">类型异常</span>';
                            }
                            $("#dataUrl").append(
                                '<li>'+
                                '<div class="list_box" onclick="detail('+info.id+')" >'+
                                '<div class="info_list_f">'+
                                '<div class="info_list_f_l"> 其他出库单号：'+info.orderNo+'</div>'+
                                '<div class="info_list_f_r">出库人：'+info.userName+'</div>'+
                                '</div>'+
                                '<div class="info_list_f">'+
                                '<div class="info_list_f_l">盘点单号：'+info.stockingOrder+'</div>'+
                                '<div class="info_list_f_r">出库时间：'+outTime+'</div>'+
                                '</div>'+
                                '<div class="info_list_f">'+
                                '<div class="info_list_f_l">出库仓库名称：'+info.storeTypeName+'</div>'+
                                '<div class="info_list_f_r">出库类型：'+type+'</div>'+
                                '</div>'+
                                '</div>'+
                                '</li>'
                            )
                        }
                        $("#dataDiv").after(
                            haveData+
                            '<span id="pageSpan">'+
                            '<input type="hidden" id="currPage" value="'+data.page.currPage+'" >'+
                            '</span>'
                        )
                    }
                }
            }
        })
    }
</script>
</body>
</html>