<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="educationCodeId" name="educationCodeId" th:value="${educationCode.educationCodeId}"  type="hidden">

							<div class="form-group">
								<label class="col-sm-3 control-label ">上级代码：</label>
								<div class="col-sm-8">
									<input th:value="${educationCodeName}" class="form-control" type="text" readonly="true" />
									<input class="form-control hidden" type="text" id="parentId" name="parentId" th:value="${educationCode.parentId}">
								</div>
							</div>

							<div class="form-group">	
								<label class="col-sm-3 control-label">学历代码：</label>
								<div class="col-sm-8">
									<input id="educationCode" name="educationCode" th:value="${educationCode.educationCode}" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">学历名称：</label>
								<div class="col-sm-8">
									<input id="educationCodeName" name="educationCodeName" th:value="${educationCode.educationCodeName}" class="form-control" type="text">
								</div>
							</div>

							<!-- <div class="form-group">
								<label class="col-sm-3 control-label">学历年限：</label>
								<div class="col-sm-8">
									<input id="educationYear" name="educationYear" th:value="${educationCode.educationYear}" class="form-control" type="text">
								</div>
							</div> -->

							<div class="form-group">
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<label class="radio-inline">
										<input type="radio" name="status" value="1" checked />正常
									</label>
									<label class="radio-inline">
										<input type="radio" name="status" value="0" />禁用
									</label>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/phry/educationCode/edit.js">
	</script>
</body>
</html>
